<div class="container aboutMe-Sect py-50" id="about">
    <div class="heading">
        <h2>About Me</h2>
        <p class="text-primary">Get to know me</p>
    </div>
    <div class="row">
        <div class="col-md-7 col-12">
            <div class="contentBox">
                <h3 class="subHeadingMargin-b">Hi, I am <span id="nameSpan">Laoditius Masenya</span> <span class="text-primary fullS">.</span> </h3>
                <p>I am a self-motivated, methodical, punctual and dependable individual with a strong passion for software
                    development. I am a fast learner, computer literate and self-confident. I have experience working in a
                    team environment and also self-started. A key strength is communication; building strong relationships
                    with people in order to achieve objectives on time and deliver the best results with excellence.
                </p>
            </div>
        </div>
        <div class="col-md-5 col-12 img-box-C">
            <div class="img-box">
                <img src="/assets/img/img1.jpg" class="about-img">
            </div>
           
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
