<div class="skill-container">
    <div class="container  py-50 text-center" id="skills">
        <div class="heading">
            <h2 class="text-white">My Services</h2>
            <p class="text-warning">How can I be of service</p>
        </div>
        <div class="row mx-width">
            <div class=" col-lg-3 col-md-6 col-6" *ngFor="let service of services">
                <div class="card border-r10">
                    <img [src]="service.image" class="img-fluid" alt="">
                    <div class="card-body">
                        <p class="h5">{{service.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

