<div class="nav-box">
    <nav class="navbar navbar-expand navbar-dark transitionSpeed">
        <div class="container-fluid">
            <a href="#" class="navbar-brand"><img class="logo-img" alt=""></a>
        <ul class="nav navbar-nav nav-menu" id="nav">
            <li class="nav-item">
                <a href="#home" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="#skills" class="nav-link">Skills</a>
            </li>
            <li class="nav-item">
                <a href="#projects" class="nav-link">Projects</a>
            </li>
            <li class="nav-item">
                <a href="#contactMe" class="nav-link">Contact</a>
            </li>
        </ul> 
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        </div>
    </nav>
</div>

