<div class="container-fluid footer-container" id="contactMe">
    <div class="heading">
        <h2 class="text-white">Contact Me</h2>
        <p class="text-white">Happy to hear from you</p>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="contactInfo">
                <h3>Contact Info</h3>
                <div class="contactInfoBx">
                    <div class="box">
                        <div class="text">
                            <h3>Phone</h3>
                            <p>0604912539</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="text">
                            <h3>E-mail</h3>
                            <p>laoditius.masenya12@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="formBx">
                <form>
                    <h3>Message me</h3>
                    <input type="text" name="" id="nameField" placeholder="Full Name">
                    <input type="email" name="" placeholder="Email">
                    <textarea placeholder="Your message"></textarea>
                    <button class="btn btn-About">Send</button>
                </form>
            </div>
        </div>
    </div>

</div>
