<div class="container-fluid banner" id="home">
    <div class="textBx mg-banner">
        <div class="bannerHeading">
            <h2><i class="arrowSize fa-solid fa-angle-left"></i>THINK - DESIGN - CODE<i
                    class="arrowSize fa-solid fa-angle-right"></i></h2>
        </div>          
        <h3>Full Stack Web Development and UI/UX designer</h3>
        <a href="#" class="btn btn-About" href="/assets/img/LaoditiusM-CV.pdf">View Resume</a>
        <div class="social-IconsBox">
            <div class="socialImgBox">
                <img src="/assets/img/gitlab.png" alt="" class="socialImg">
            </div>
             <div class="socialImgBox">
                <a target='_blank' href="https://github.com/laoditiusm/"><img src="/assets/img/github.png" alt="" class="socialImg"></a>
            </div>
            <div class="socialImgBox">
                <a target='_blank' href="https://www.linkedin.com/in/laoditius-masenya-97167a1a8/"><img src="/assets/img/linkedin1.png" alt="" class="socialImg"></a>
            </div>
            <div class="socialImgBox">
                <a target='_blank' href="https://twitter.com/laoditius"><img src="/assets/img/twitter.png" alt="" class="socialImg"></a>
            </div>
        </div>
    </div>
</div>
<div class="downArrowContainer">
    <p>Scroll</p>
</div>
<div class="mouse_scroll">
    <div class="arrowsBx">
        <span class="m_scroll_arrows one"></span>
        <span class="m_scroll_arrows two"></span>
        <span class="m_scroll_arrows three"></span>
    </div>
</div>

